body{
    background-image: url(../img/fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#buscador{
    margin-top: 20px;
}

#fondo{
    background-color: rgba(255,255,255,0.5);
    padding: 10px;
    border-radius: 12px;
    margin-top: 25px;
}

#fondo2{
    background-color: rgba(255,255,255,0.5);
    padding: 10px;
    border-radius: 12px;
}

.logo{
    width: 60px;
    height: 60px;
    margin-top: 30px;

}

.buscador input{
    margin-left: 5%;
    width: 80%;
}
label{
    color: #3b4cca;
    font-size: 20px;
    text-align: center;
}

.imgPokemon{
    height: 150px;
    margin-top: -35px;

}

.imgTipo{
    width: 65px;


}

.col-2{
    margin-top: 3px;
}

#hrefModificacion{
    background-color: forestgreen;
    padding: 12px;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-left: 79px;
}

#hrefModificacion:hover{
    background-color: #003808;
}

#hrefBaja{
    background-color: red;
    padding: 12px 45px;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    margin-right: 90px;
    text-decoration: none;
}

#hrefBaja:hover{
    background-color: #500000;
}

#hrefNombre{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: #00040c;
}

#hrefNombre:hover{
   color: red;
}

#botonCrear{
    text-align: center;
    margin-top: 15px;
}

#botonCrear button{
    background: #ef3e33;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 6px 15px;
    font-size: 15px;
    text-transform: uppercase;
}

#botonCrear button:hover{
   background-color: darkred;
}

#estiloPokedex{
    background: #f0ffffa3;
    margin-top: 25px;
}

#pantallaPoke{
    width: 300px;
    height: 300px;
    margin-top: 100px;
    margin-left: 350px;
}

#nombrePoke{
    color: white;
    margin-left: 700px;
    margin-top: -300px;
    font-size: 40px;
    background-color: brown;
    padding: 10px;
    width: 400px;
}

#descripcionPoke{
    color: black;
    width: 500px;
    margin-left: 700;
    font-size: 20px;
    background-color: #ffffff9e;
    padding: 10px;
    margin-top: -25px;
}

.logout{
    text-decoration: none;
    background: #ef3e33;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 6px 15px;
    font-size: 15px;
    text-transform: uppercase;

}

#login{
    background: #ef3e33;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 6px 15px;
    font-size: 15px;
    text-transform: uppercase;
}

.contenedor{
    display: flex;
    flex-wrap: nowrap;
}
a{
    text-decoration: none;

}
